<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewCellLayOutHeight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2F3362F1D5ECE8700F36248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2F336481D5ECE8800F36248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2F336531D5ECE8800F36248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
